{% extends 'base.html.twig' %}

{% block title %}ArticleReview index{% endblock %}

{% block body %}
    <h1>ArticleReview index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Review</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_review in article_reviews %}
            <tr>
                <td>{{ article_review.id }}</td>
                <td>{{ article_review.review }}</td>
                <td>{{ article_review.author }}</td>
                <td>
                    <a href="{{ path('article_review_show', {'id': article_review.id}) }}">show</a>
                    <a href="{{ path('article_review_edit', {'id': article_review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_review_new') }}">Create new</a>
{% endblock %}
