{% extends 'base.html.twig' %}

{% block title %}Ressource index{% endblock %}

{% block body %}
    <div class="ressource m-5">

        <h1>Les Bonnes Adresse</h1>

        <div class="row container ">
            {% for ressource in ressources %}
                <div class="card-ressource col-5 m-3">
                    <div class="cover">
                        <img src="/uploads/upload/ressources/{{ ressource.poster }}"  alt="{ ressource.Name }}" >
                    </div>
                
                    <h1>
                        <a href="{{ ressource.url }}" target="blank"><i class="fas fa-link"></i> {{ ressource.Name }}</a>
                    </h1>

                    <p>
                        {{ ressource.description }}
                    </p>
                </div>
            
            {% endfor %}
        </div>

        <div>
            {{ knp_pagination_render(ressources) }}
        </div>
    <div>

{% endblock %}